@import "../../../../../../styles.scss";

section{
    height: 100%;
        .fillAriane{
            font-size: small;
            color: $primary_green;
            .admin{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    .contenu{
        height: 100%;
        min-height: 85vh;
        background-color: white;
        border-radius: 0.2rem;
        .titlePage{
            color: $primary_brown;
            font-size: small;
        }
        .infoBord{
            .title{
                font-weight: 700;
                .spec{
                    font-weight: bolder;
                }
            }
        }
        .infoAcheteur, .infoDateHeure, .infoMutualistes, .detailsProd{
            .title{font-weight: 500; color: $primary_brown;}
            .label{
                font-size: small;
                font-weight: 600;
                .profil{font-weight: 300; }}
        }
        .options{
            button{
                background-color: rgba($primary_green, 0.9);
                border: none;
                color: white;
                font-size: small;
                border-radius: 0.2rem;
                width:5rem;
                &:hover{
                    background-color: $primary_green;
                }
            }
            .retour{
                cursor: pointer;
                font-size: small;
                color: rgba($primary_green, 0.9);
                font-weight: 500;
                &:hover{
                    color: $primary_green;
                }
            }
        }
    }
}