@import "../../../../styles.scss";

.view{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    width:fit-content;
    border-radius: 0.2rem;
    box-shadow: 1.5px 1.5px 1.5px silver;
    position: fixed;
    top: 0;
    right: 30%;
    z-index: 10;
    .delete{
        cursor: pointer;
        margin-left: 1rem;
        
    }
}
.none{
    display: none;
}

.warning{
    background-color: orange;
}
.success{
    background-color: $primary_green;
}
.error{
    background-color: $primary_red;
}