/* You can add global styles to this file, and also import other style files */

/*Variables globales*/
// couleurs
$primary_green: rgb(0, 161, 83);
$primary_brown: rgb(147, 46, 36);
$primary_blue: rgb(31, 98, 166);
$primary_red: rgb(220, 53, 69);
$secondary_smoke: rgb(252, 246, 214);
$header_hight : 3.5rem;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
